*.pyc
*.log
node_modules
coverage/
arches_vue_utils/logs
arches_vue_utils/export_deliverables
arches_vue_utils/cantaloupe/*
arches_vue_utils/staticfiles
arches_vue_utils/media/packages
arches_vue_utils/media/build/
arches_vue_utils/uploadedfiles/*
arches_vue_utils/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration/
